@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.starter{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#logo_container{
    position: relative;
    width: min(70vh, 80vw, 340px);
    margin: auto;
    transform: translateY(calc(50vh - 66%));
}
.hidden{
    visibility: hidden;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.toggle_container{
    margin: min(2vh, 8px) auto min(2vh, 8px) auto;
    width: max-content;
    border-radius: 25px;
    background-color: rgb(89 141 150);
}
.toggle_button{
    display: inline-block;
    width: min(10vh, 35px,12vw);
    height: min(10vh, 35px,12vw);
    margin: 3px;;
    border-radius: 25px;
    border: solid black 2px;
    background-color:#9cd2d2;
    background-size: cover;
    background-position-x: center;
}
.toggle_button_active{
    background-color: rgb(195, 246, 255);
    box-shadow: rgb(101, 222, 243) 0px 0px 0px 6px;
}
.menu_space{
    width: min(60px,7vw,10vh);
}
.timer{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: min(30vh, 35vw,100px);
    height: min(30vh, 35vw,100px);
    border-radius: 50%;
    margin: 0;
    /* background-color: rgb(241, 64, 64); */
    border: solid rgb(89 141 150) 4px;
    font-size: min(20vh, 23vw,65px);
    text-align: center;
    color: aqua;
}
#goline{
    position: absolute;
    bottom: 10px;
    width: 200%;
    transform: translateX(-25%);
}
.golineobj{
    display: inline-block;
    background-color: aqua;
    height: min(10vh,10vw,30px);
}
.arrows{
    mask: url('arrows.svg');
    mask-size: contain;
    mask-position: right;
    -webkit-mask: url('arrows.svg');
    -webkit-mask-size: contain;
    -webkit-mask-position: right;
    width: calc(50% - 50px);
}
#rarrow{
    mask-position: left;
    -webkit-mask-position: left;
}
.go{
    mask: url('go.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask: url('go.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100px;
    /* margin: 0 10 0 10; */
}

@keyframes logoLightUp{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
        transform: translateY(calc(50vh - 66%));
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes menuLightUp{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes gogogo{
    25%{
        transform: translateX(-35%)
    }
    100%{
        transform: translateX(50%)
    }
}
@keyframes starterGo{
    27%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(100%)
    }
}
.logo_anim{
    animation: logoLightUp 3s forwards;
}
.menu_anim{
    animation: menuLightUp 3s forwards;
}
.gogogo{
    animation: gogogo .75s forwards;
}
.starterGo{
    animation: starterGo .75s forwards;
}

.activePage{
    position: absolute;
    background-color: rgba(101, 222, 243,0);
    border: solid rgb(101, 222, 243) 10px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px 6px rgb(101, 222, 243);
}
#hints{
    position: absolute;
    z-index: 1;
}
@keyframes hinting{
    0%{
        transform: translateX(calc(110px - 50%)) translateY(calc((50px - 100%) / 2));
    }
    50%{
        transform: translateX(calc(95px - 50%)) translateY(calc((50px - 100%) / 2));
    }
    100%{
        transform: translateX(calc(110px - 50%)) translateY(calc((50px - 100%) / 2));
    }
}
.hint{
    position: absolute;
    background-color: #00ffffbd;
    background-image: url('hint.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 30px;
    border-radius: 29px;
    border: solid black 2px;
    z-index: 1;
    animation: hinting .5s both;
    animation-iteration-count: infinite;
}
#vp{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    box-shadow: rgb(101, 222, 243) 1px 5px 20px 4px;
    background-color: #f3fafc;
    background-size: cover;
}
.html_container{
    padding: 12.5px;
    height: 100%;
    overflow-y: scroll;
}
#img_cont{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.image_viewer{
    position: absolute;
    transform-origin: top left;
}
.img_rotate{
    transform: rotate(90deg)  translateY(-100%);
}
#more_cont{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#more{
    background-color: rgb(163, 234, 247);
    position: fixed;
    transform: translate(calc(-50px + 50%),calc(-50px + 50%));
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 8px 3px rgb(97, 232, 255)
}
#desc_cont{
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(255, 255, 255, 0.65);
    transition-property: transform;
    transition-duration: 300ms;
}
#desc{
    position: absolute;
    width: 100%;
    height: 100%;
}
.page{
    display: inline-block;
    height: 48px;
    width: 48px;
    margin: 1px;
    background-color: rgb(180, 175, 175);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}
.pack{
    display: inline-block;
}
.project{
    width: max-content;
    position: relative;
}
.slider{
    position: relative;
}
.moving{
    transition-property: transform;
    transition-duration: 300ms;
}
.container{
    position: relative;
    overflow: hidden;
    margin: auto;
    /* temporary measure */
    width: 100%;
    height: 100%;
}
body::backdrop{
    background-color: rgb(43, 49, 51);
}
body{
    width: 100vw;
    min-height: 100vh;
    /* mobile bug fix */
    min-height: -webkit-fill-available;
    margin: 0;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
    background-color: rgb(43, 49, 51);
    font-family: 'Raleway', sans-serif;
}
html{
    height: -webkit-fill-availale;
}


/* PER PAGE */
.flexers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flexers>*{
    margin-left: 10px;
}
.name{
    text-align: center;
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px black solid;
    background-color: grey;
}
.itemlist{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.itemlist>*{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #9cd2d2;
    border-radius: 25px;
    padding: 8px;
    margin: 2px;
    width: 263px;
    flex-grow: 1;
}
.itemkey{
    display: flex;
    align-items: center;
}
.itemvalue{
    background-color: #f3fafc;
    border-radius: 20px;
    padding: 4px;
}
h1{
    font-size:min(1.5em,7.6vw);
}


.skill_logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #f7f4e5;
    background-size: contain;
    border-radius: 50%;
    border: 2px solid black;
}
.skill_name {
    margin-left: 8px;
 }

.skill_dash {
    height: 10px;
    width: 20px;
    background-color: #9cd2d2;
    display: inline-block;
    margin-right: 3px;
}
  
div.skill_dash:nth-child(1) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
div.skill_dash:nth-child(4) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 0px;
}

.contact_item_icon {
    width: 35px;
    height: 35px;
}
a{
    color: rgb(15, 71, 89);
    text-decoration-color: rgba(101, 91, 146, 0.479);
}

#interests > * {
    width: auto;
    justify-content: center;
    font-weight: bold;
    border: 2px solid;
}